*{
    border:0px solid black;
    padding:0px;
    margin:0px;
}
h1{
       border: 0px solid black;
}
ul{
    border: 0px solid black;
}

p{
    border: 0
    px solid black;
}
ul{
    float:right;
    
}
li{
    display:inline;
    padding:15px;
    font-size:17px;
    background-color:aqua;
}

li:hover{
    background-color:azure;
}
